
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title style="background-color: blueviolet;">Bus Reservation System in Django Framework</title>

    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
        body{
            background-image: url(https://ni3bus.com/ni3bus/slider/images/site/Online%20Bus%20Ticket%20Booking%2002.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-gradient bg-dark">
    <div class="container">
            <a class="navbar-brand" href="#" style="color: aqure;">Bus Reservation System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" >
                <a class="nav-item nav-link active" href="/" style="color: aqua;">Home/Login</a>
                <a class="nav-item nav-link" href="/findbus" style="color: aqua;">Find Bus</a>
                <a class="nav-item nav-link" href="/seebookings" style="color: aqua;">See Bookings</a>
                
                <a class="nav-item nav-link " href="/signup" style="color: aqua;">Registration</a>
                


            </div>
        </div>
    </div>
</nav>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
            <div class="card rounded-0">
                <div class="card-header">
                    <div class="card-title text-center h3 b-0"  style="color: brown;">Registration</div>

                </div>
                <div class="card-body" style="color: aquamarine;">
                    <div class="contaier-fluid">
                        <form action="/signup" method="post" id="registration-form">
                            <input type="hidden" name="csrfmiddlewaretoken" value="o8TuNej3qgmXGAlKHzRElybqFOSigAiPkR8iV5cFFcsaO686giHyVLSUh44FLrL0">
                            <div class="mb-3">
                                <label for="email" class="control-label">Email:</label>
                                <input name='email' class="form-control" type="text" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="mobilenumber" class="control-label">Mobile No:</label>
                                <input name='mobilenumber' class="form-control" type="text" id="mobilenumber" required>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="control-label">Username:</label>
                                <input name='name' id="name" class="form-control" type="text" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="control-label">Password:</label>
                                <input name='password' id="password" class="form-control" type="password" required>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-sm btn-primary rounded-0 w-100" form="registration-form">Create Account</button>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>